* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common shared style */
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding: 18px 35px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700px;
}
/* nav related style */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 230px 0px 226px;
  padding-top: 50px;
}
.nav-title {
  font-size: 45px;
  font-weight: 700;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 51px;
}

nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

/* header related style */

.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top 38px left 23px;
}
.banner {
  padding: 30px 30px 0px 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 585px;
}
.banner .profile-pic {
  width: 584px;
}
.banner-greeting {
  color: #474747;
  margin-bottom: 0;
  font-size: 45px;
  font-weight: 600;
  line-height: normal;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-desc {
  color: #757575;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}
.contact-btn {
  color: #fd6e0a;
  border: 2px solid #fd6e0a;
  border-radius: 5px;
  background: transparent;
  font-size: 20px;
  padding: 18px 35px;
  margin-left: 30px;
}

/* main related style */
main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
}
/* about related style */
.about {
  padding: 131px 156px;
  border-radius: 10px;
  background: #fff8f3;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0;
  line-height: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-between;
}

.about-info {
  text-align: center;
}

.info-title {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.info-description {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

/*what i do related style */

#what-i-do-description {
  padding: 0px 156px;
}

/* skill related style */
.skills-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.skill {
  padding: 30px 33px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: #fff;
}
.skill-title {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}

.skill-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
/* Resume section style */
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

.resume-container {
  display: flex;
  gap: 71px;
  margin-top: 113px;
}

.resume-item-title {
  margin-top: 30px;
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}
.resume-item-institute {
  margin-top: 10px;
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}
.resume-item-description {
  color: #757575;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.resume-container hr {
  margin: 30px 0;
}

.dawonload-cv {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 113px;
}

/* footer style */
footer {
  display: flex;
  background: #fff8f3;
  padding: 130px 230px;
  gap: 117px;
}

.footer-column {
  width: 50%;
}

.social-links a {
  margin-right: 24px;
  width: 24px;
}

.footer-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700px;
  margin-bottom: 20px;
}

.footer-description {
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 30px;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
  display: block;
  margin-bottom: 24px;
  padding: 18px 30px;
  color: #757575;
  border: 0;
  border-radius: 5px;
  background: #fff;
  width: 100%;
}
